/* Wildcard to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #31363F;
}

/* Navbar */
header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #222831;
    justify-content: space-between;
    width: 100%;
}

nav {
    width: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.navbar-logo {
    color: #EEEE;
    text-decoration: none;
    font-size: 30px;
}

/* Hide the checkbox */
.dropdown-toggle {
    display: none;
}

.dropdown {
    position: relative;
    margin-left: auto;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #EEEE;
    font-size: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #222831;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content .dropdown-list li {
    margin: 0;
}

.dropdown-content .dropdown-list li a {
    color: #EEEE;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-content .dropdown-list li a:hover {
    background-color: #393E46;
}

.dropdown-toggle:checked~.dropdown-content {
    display: block;
}

/* Post form */
.post-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31363F;
}

.post-form {
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.form-label {
    display: none;
}

.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
}

.form-control::placeholder {
    color: #a0a0a0;
}

.btn-primary {
    background-color: #76ABAE;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4c7072;
}

/* Post container styling */
.post-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #1F242A;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.post-container:hover {
    transform: scale(1.02);
}

/* Author and date styling */
.post-header {
    font-size: 14px;
    margin-bottom: 10px;
    color: #B0B0B0;
}

.post-header a {
    color: #4c7072;
    text-decoration: none;
}

.post-header a:hover {
    text-decoration: underline;
}

/* Post content styling */
.post-content {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.view-post-button {
    background-color: #76ABAE;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.view-post-button:hover {
    background-color: #4c7072;
    transform: scale(1.05);
}

.empty-state {
    text-align: center;
    color: #76ABAE;
    font-size: 18px;
    margin-top: 20px;
}
