<!doctype html>
<html lang="en">

<head>
  <!-- Load the static template tag to access static files -->
  {% load static %}
  
  <!-- Title of the webpage -->
  <title>Djocial - Your social network</title>
  
  <!-- Ensure proper rendering and touch zooming on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Link to the main stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">

  <!-- Favicon for various sizes -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

  <!-- Web App Manifest -->
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

  <!-- Safari Pinned Tab -->
  <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">

  <!-- Microsoft Tile Color -->
  <meta name="msapplication-TileColor" content="#da532c">

  <!-- Theme Color for Android -->
  <meta name="theme-color" content="#ffffff">

  <!-- Preconnect to Google Fonts and link to the fonts used in the website -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

  <!-- Link to Font Awesome CSS for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<!-- Navigation bar at the top of the page -->
<header>
  <nav class="navbar">
    <div class="navbar-container">
      <!-- Logo that links to the homepage -->
      <a class="navbar-logo" href="{% url 'home' %}">DJocial</a>
      
      <!-- Search form for searching content on the site -->
      <div class="search-container">
        <form method="GET" action="{% url 'search_results' %}" class="search-form">
          <input type="text" name="q" placeholder="Search..." class="search-input" required>
          <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
        </form>
      </div>

      <!-- Dropdown menu for user account actions -->
      <div class="dropdown">
        <!-- Checkbox for toggling the dropdown -->
        <input type="checkbox" id="dropdown-toggle" class="dropdown-toggle">
        <!-- Label that displays the dropdown button (user icon) -->
        <label for="dropdown-toggle" class="dropdown-btn">
          <i class="fa-solid fa-user"></i>
        </label>
        <!-- Dropdown menu content -->
        <div class="dropdown-content">
          <ul class="dropdown-list">
            {% if user.is_authenticated %}
            <!-- Show logout and account links if user is authenticated -->
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            <li><a href="{% url 'account' request.user.id %}">My Account</a></li>
            {% else %}
            <!-- Show register and login links if user is not authenticated -->
            <li><a href="{% url 'account_signup' %}">Register</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

  <!-- Main content area where other templates can insert content -->
  <div class="content">
    {% block content %}
    <!-- Default content or placeholder -->
    {% endblock %}
  </div>

  <!-- FontAwesome Kit for icons -->
  <script src="https://kit.fontawesome.com/1d63fa792f.js" crossorigin="anonymous"></script>
  <!-- Custom JavaScript file for infinite scrolling functionality -->
  <script src="{% static 'js/infinite_scroll.js' %}"></script>
  <script src="{% static 'js/post_form.js' %}" defer></script>
</body>
</html>
